<div class="container">
  <div class="row">
    <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <%= form_for(@picture) do |f| %>
      <% if @picture.errors.any? %>

        <h3><%= @picture.errors.count %>件のエラーがあります</h3>
        <ul>
        <% @picture.errors.full_messages.each do |msg| %>
          <h4><li><%= msg %></li></h4>
        <% end %>
        </ul>

    <% end %>
    </div>
   <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
      <br>
      <%= f.label :内容 %>
      <%= f.text_field :content %>
      <br>
      <%= f.submit "投稿する", class: 'btn btn-default btn-mm'%>
      <br>
      <%= link_to "一覧に戻る", pictures_path %>
    <% end %>
   </div>
  </div>
</div>
