<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <div class="row">

      <p><%= notice %></p>

      <div class="index">
        <%= link_to "投稿する", new_picture_path, class: 'btn btn-default btn-sm' %>
      </div>

      <h4>画像一覧</h4>
      <% @pictures.each do |picture| %>
        <p><%= profile_img(picture.user) %></p>
        <p class="user-name"><%= picture.user.name %></p>
        <p class="post-image"><%= image_tag(picture.image_url) %></p>
        <%= link_to "編集", edit_picture_path(picture.id), class: 'btn btn-default btn-sm btn-success' %>
        <%= link_to "削除", picture_path(picture), method: :delete , data: { confirm: "本当に削除していいですか？" }, class: 'btn btn-default btn-sm btn btn-danger' %>
      <% end %>

    </div>
    <main class="_6ltyr _rnpza" role="main"><article class="_60k3m"><div class="_fdj9b _3mng4"><div class="_klk8w"><img class="_9gpks" src="/static/images/homepage/screenshot1-2x.jpg/2debbd5aaab8.jpg"><img class="_9gpks" src="/static/images/homepage/screenshot2-2x.jpg/783de51ff073.jpg"><img class="_9gpks" src="/static/images/homepage/screenshot3-2x.jpg/48fc753e7712.jpg"><img class="_9gpks _5n966" src="/static/images/homepage/screenshot4-2x.jpg/8e431a88ffdd.jpg"><img class="_9gpks _mpbzm" src="/static/images/homepage/screenshot5-2x.jpg/9cb9ba2dda6a.jpg"></div></div><div class="_p8ymb"><div class="_nvyyp"><h1 class="_du7bh _soakw coreSpriteLoggedOutWordmark">Instagram</h1><div><img class="_2ifej" src="https://scontent-nrt1-1.cdninstagram.com/t51.2885-19/11849973_1616368635309279_1612774747_a.jpg"><span class="_6jtqn _7k49n"><button class="_ah57t _84y62 _frcv2 _rmr7s"><span class="_hahdn">kamiyayasutoとしてログイン</span></button></span><div class="_n6kma"><span class="_1sfqp"><!-- react-text: 108 -->kamiyayasutoではありませんか？<!-- /react-text --><!-- react-text: 109 --> <!-- /react-text --><a class="_niffh" href="javascript:;">アカウントを切り替える</a></span></div></div></div><div class="_m8ogu"><p class="_gnsgq">ダウンロード</p><div class="_rwl8x"><a class="_okmo7" href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&amp;ct=igweb.unifiedHome.badge&amp;mt=8"><img class="_t5w1b" alt="アプリストアでダウンロード" src="/static/images/appstore-install-badges/badge_ios_japanese-jp.png/55b4859ca2bc.png"></a><a class="_okmo7" href="https://play.google.com/store/apps/details?id=com.instagram.android&amp;referrer=utm_source%3Dinstagramweb%26utm_campaign%3DunifiedHome%26utm_medium%3Dbadge"><img class="_t5w1b" alt="Google Playでダウンロード" src="/static/images/appstore-install-badges/badge_android_japanese-ja.png/f5dd61721cef.png"></a></div></div></div></article></main>
 </div>
</div>
